<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container-fluid my-4">

        <footer style="background-color: white;">
          <div class="container p-4">
            <div class="row">
              <div class="col-lg-6 col-md-12 mb-4">
                <h5 class="mb-3 text-dark">Kukka | NO REASON FOR FLOWERS</h5>
                <p style="font-size: 12px;">
                  꾸까(KUKKA) | 대표자 박춘화| 사업자 등록번호 264-81-32594 | 사업자정보확인 | <br/>서울특별시 서초구 명달로 9 방배빌딩 1층 KUKKA | 기업공시 | 통신판매신고번호
                  <br/><br/>@KUKKA, Inc. All rights reserved.
              </p>
              </div>
              <div class="col-lg-3 col-md-6 mb-4">
                <!-- <h5 class="mb-3 text-dark"></h5> -->
                <ul class="list-unstyled mb-0">
                  <li class="mb-1">
                    <a href="#!" style="color:#4f4f4f; font-size:13px;">공지사항</a>
                  </li>
                  <li class="mb-1">
                    <a href="#!" style="color: #4f4f4f; font-size:13px;" >배송정책</a>
                  </li>
                  <li class="mb-1">
                    <a href="#!" style="color: #4f4f4f; font-size:13px;">회원 멤버쉽</a>
                  </li>
                  <li>
                    <a href="#!" style="color: #4f4f4f; font-size:13px;">고객센터</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-3 col-md-6 mb-4">
                <h6 class="mb-1 text-dark">고객센터 1661-1031</h6>
                <table class="table" style="border-color: #666;">
                  <tbody>
                    <tr>
                      <td style="font-size:15px;">Mon - Fri:</td>
                      <td style="font-size:15px;">10am - 6pm</td>
                    </tr>
                    <tr>
                      <td style="font-size:15px;">Sat - Sun:</td>
                      <td style="font-size:15px;">10am - 1am</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
       
          <!-- Copyright -->
        </footer>
        
      </div>
</body>
</html>  